In [3]:
import pandas as pd

In [4]:
employee_df = pd.DataFrame(columns=['emp_id', 'name', 'marks_10', 'marks_12', 'mobile'])

In [5]:
# Function to validate inputs
def validate_input(name, marks_10, marks_12, mobile):
    errors = []
    # name validation:
    if not name.isalpha():
        errors.append("Name must contain only alphabetic characters.")

    # 10th marks validation:
    try:
        marks_10 = float(marks_10)
        if not (0 <= marks_10 <= 100):
            errors.append("10th marks must be between 0 and 100.")
    except ValueError:
        errors.append("10th marks must be a number.")

    # 12th marks validation:
    try:
        marks_12 = float(marks_12)
        if not (0 <= marks_12 <= 100):
            errors.append("12th marks must be between 0 and 100.")
    except ValueError:
        errors.append("12th marks must be a number.")

    # mobile number validation:
    if not (mobile.isdigit() and len(mobile) == 10):
        errors.append("Mobile number must be a 10-digit numeric value.")

    return errors

In [8]:
import pyodbc

In [5]:
# import pyodbc
# connection_string = (
#     'DRIVER={ODBC Driver 17 for SQL Server};'
#     'SERVER=DESKTOP-LCQNRUE\\SQLEXPRESS;'
#     'DATABASE=Errors;'
#     'Trusted_Connection=yes;'
# )
# conn=pyodbc.connect(connection_string)
# cursor = conn.cursor()

In [6]:
# cursor.execute('''
#     CREATE TABLE Errors (
#         id INT IDENTITY(1,1) PRIMARY KEY,
#         error_count INT,
#         error_message NVARCHAR(MAX)
#     )
# ''')
# # Commit the transaction
# conn.commit()

# # Close the connection
# cursor.close()
# conn.close()

In [9]:
# Function to store error SQL db:
def store_error_in_db(error_count, error_message):
    connection_string = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-LCQNRUE\\SQLEXPRESS;'
    'DATABASE=Errors;'
    'Trusted_Connection=yes;'
    )
    conn=pyodbc.connect(connection_string)
    c = conn.cursor()
    # c.execute('''
    # CREATE TABLE Errors (
    #     id INT IDENTITY(1,1) PRIMARY KEY,
    #     error_count INT,
    #     error_message NVARCHAR(MAX)
    # )
    # ''')
    c.execute("INSERT INTO errors (error_count, error_message) VALUES (?, ?)", 
                (error_count, error_message))
    conn.commit()
    conn.close()

In [10]:
# Function to create employee ID
def create_emp_id():
    import uuid
    return str(uuid.uuid4())

In [11]:
last_emp_id = 0
def update_emp_id():
    global last_emp_id
    last_emp_id += 1
    return last_emp_id

In [15]:
# Main function to get user input and process it
def main():
    
    name = input("Enter your name: ")
    marks_10 = input("Enter your 10th marks: ")
    marks_12 = input("Enter your 12th marks: ")
    mobile = input("Enter your mobile number: ")

    # Validate inputs
    errors = validate_input(name, marks_10, marks_12, mobile)
    
    if errors:
        error_message = "; ".join(errors)
        store_error_in_db(len(errors), error_message)
        print("Errors found:")
        for error in errors:
            print(f"- {error}")
    else:
        # Create employee dictionary
        emp_id = update_emp_id()
        employee = {
            'emp_id': emp_id,
            'name': name,
            'marks_10': marks_10,
            'marks_12': marks_12,
            'mobile': mobile
        }
        emp_dict = pd.DataFrame([employee])

        global employee_df
        employee_df = pd.concat([employee_df, emp_dict], ignore_index=True)
        
        print("Employee details stored successfully:")
        print(employee)

In [16]:
# Run the main function
if __name__ == "__main__":
    main()

Employee details stored successfully:
{'emp_id': 2, 'name': 'Anurag', 'marks_10': '91', 'marks_12': '85', 'mobile': '1234567890'}

In [17]:
employee_df

  emp_id    name marks_10 marks_12      mobile
0      2  Anurag       91       85  1234567890